@{
}

<div class="row my-3">
    <h2>Reservation successfully created!</h2>

    @Html.ActionLink(
        "See your reservations",
        "Reservations",
        "Account",
        new { },
        new { @class="btn btn-dark" })
</div>

